@model CCMS.NEOPE.Application.ViewModels.Tasks.AddTaskModel
@{
    Layout = "_Layout";
}

@section Styles
{
    <link href="/lib/materialize-select2/select2-materialize.css" rel="stylesheet" />
}

<div class="section container">
    <div class="no-padding white">
        <div class="section-header">
            <h5 class="section-title">Criar nova atividade de comissionamento</h5>    
        </div>
        <div class="row">
            <div class="col s12">
                <div >
                    <form  asp-controller="Tasks" asp-action="Add" method="POST">
                        <div class="card">
                            <div class="fields">
                                <div class="red-text text-darken-4" asp-validation-summary="ModelOnly"></div>
                            </div>
                    
                            <div class="row">
                                <div class="col m9">
                                    <div class="row">
                                        <div class="input-field col s3">
                                            <select asp-for="TypeId" asp-items="@Model.Types" class="validate" id="TypeId"></select>
                                            <label asp-for="TypeId" id="TypeIdLabel"></label>
                                            <span asp-validation-for="TypeId" class="red-text text-darken-4"></span>
                                        </div>
                                        <div class="input-field col s9">
                                            <input asp-for="Title" class="validate" id="Title"/>
                                            <label asp-for="Title" id="TitleLabel"></label>
                                            <span asp-validation-for="Title" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s4">
                                            <input asp-for="SapNoteNumber" class="validate" id="SapNoteNumber"/>
                                            <label asp-for="SapNoteNumber" id="SapNoteNumberLabel"></label>
                                            <span asp-validation-for="SapNoteNumber" class="red-text text-darken-4"></span>
                                        </div>
                                        <div class="input-field col s4">
                                            <select asp-for="StepId" asp-items="@Model.Steps" class="validate" id="StepId">Selecione uma etapa</select>
                                            <label asp-for="StepId" id="StepIdLabel"></label>
                                            <span asp-validation-for="StepId" class="red-text text-darken-4"></span>
                                        </div>
                                        <div class="input-field col s4">
                                            <select asp-for="SelectedCategory" asp-items="@Model.Categories" class="validate" id="SelectedCategory">Selecione uma categoria</select>
                                            <label asp-for="SelectedCategory" id="SelectedCategoryLabel"></label>
                                            <span asp-validation-for="SelectedCategory" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea asp-for="Description" class="validate" id="Description" style="resize:vertical; height: 155px;" rows="6"></textarea>
                                            <label asp-for="Description" id="DescriptionLabel"></label>
                                            <span asp-validation-for="Description" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h6 class="col s12">
                                            Atividades associadas
                                            <div class="divider"></div>
                                        </h6>
                                        <div id="lista_atv_associadas" style="height: 200px; ">
                                            <div class="row">
                                                <div class="col s12">
                                                    <div style="overflow-y: scroll;padding-left: 10px; max-height: 164px;">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>Relação</th>
                                                                <th>Atividade</th>
                                                                <th>Ações</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="related_tasks_table_content">
                                                            @for(var index = 0; index < @Model.LinkedTasks.Count; index++)
                                                            {
                                                                <tr class="hoverable linkedtask">
                                                                    <input type="hidden" name="LinkedTasks[@index].Id" value="@Model.LinkedTasks[index].Id"/>
                                                                    <input type="hidden" name="LinkedTasks[@index].Type" value="@Model.LinkedTasks[index].Type"/>
                                                                    <input type="hidden" name="LinkedTasks[@index].ObjectTaskId" value="@Model.LinkedTasks[index].ObjectTaskId"/>
                                                                    <input type="hidden" name="LinkedTasks[@index].SubjectTaskId" value="@Model.LinkedTasks[index].SubjectTaskId"/>
                                                                    <td>@Model.LinkedTasks[index].TypeText</td>
                                                                    <td>@Model.LinkedTasks[index].TaskText</td>
                                                                    <td>
                                                                        <a class="delete-link waves-effect waves-light material-icons" style="color: red;">delete</a>
                                                                        <a class="edit-link waves-effect waves-light material-icons" style="color: black;">edit</a>
                                                                    </td>
                                                                    <input type="hidden" name="LinkedTasks[@index].TypeText" value="@Model.LinkedTasks[index].TypeText"/>
                                                                    <input type="hidden" name="LinkedTasks[@index].TaskText" value="@Model.LinkedTasks[index].TaskText"/>
                                                                </tr>
                                                            }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s8"></div>
                                                <div class="col s4">
                                                    <div class="right" style="padding-right: 10px;">
                                                        <button type="button" id="add_new_link" class="waves-effect waves-light btn cian darken-1">+ Adicionar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="add_or_edit_atv_associada" style="height: 104px; display: none;">
                                            <div class="row" style="padding-left: 10px; height: 104px;">
                                                <div class="input-field col s4">
                                                    <select id="rel_type">
                                                        <option value=""></option>
                                                        <option value="Blocks">Bloqueia</option>
                                                        <option value="Blocks">Bloqueada por</option>
                                                        <option value="Causes">Causa</option>
                                                        <option value="Causes">Causada por</option>
                                                        <option value="Duplicates">Duplica</option>
                                                        <option value="RelatesTo">Relacionada a</option>
                                                    </select>
                                                    <label for="rel_type">Tipo de relacionamento</label>
                                                    <span id="val_rel_type" class="red-text text-darken-4 field-validation-error" data-valmsg-for="rel_type" data-valmsg-replace="true"></span>
                                                </div>
                                                <div id="related_tasks_select" class="input-field col s8">

                                                    <select id="related_atvs" class="js-is-select2">
                                                        <option value="" selected></option>
                                                    </select>
                                                    
                                                    <label for="related_atvs" style="position: absolute; top: -26px; font-size: 0.8rem">Atividade relacionada</label>
                                                    <span id="val_tasks_rel" class="red-text text-darken-4 field-validation-error" data-valmsg-for="related_atvs" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col s8"></div>
                                                <div class="col s4">
                                                    <div class="right" style="padding-right:10px;">
                                                        <button id="cancel_add_or_edit_linked_task" type="button" class="waves-effect waves-light btn grey">Cancelar</button>
                                                        <button id="concluir_add_or_edit_linked_task" type="button" class="waves-effect waves-light btn cian darken-1 modal-trigger">Concluir</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                    
                                    </div>
                                    <div class="row">
                                        <h6 class="col s12">
                                            Etiquetas
                                            <div class="divider"></div>
                                        </h6>
                                    </div>
                                    <div class="row">
                                        <h6 class="col s12">
                                            Lista de pontos
                                            <div class="divider"></div>
                                        </h6>
                    
                                    </div>
                                    <div class="row" style="display: none;">
                                        <h6 class="col s12">
                                            Comentário
                                            <div class="divider"></div>
                                        </h6>
                    
                                    </div>
                                    <div class="row" style="display: none;">
                                        <h6 class="col s12">
                                            Logs
                                            <div class="divider"></div>
                                        </h6>
                    
                                    </div>
                                </div>
                    
                                <div class="col m3">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select asp-for="SelectedStatus" asp-items="@Model.Status" class="validate" id="SelectedStatus">Selecione um status</select>
                                            <label asp-for="SelectedStatus" id="SelectedStatusLabel"></label>
                                            <span asp-validation-for="SelectedStatus" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select asp-for="ProjectId" asp-items="@Model.Projects" class="validate" id="ProjectId">Selecione um status</select>
                                            <label asp-for="ProjectId" id="ProjectIdLabel"></label>
                                            <span asp-validation-for="ProjectId" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select asp-for="ReporterId" asp-items="@Model.Users" class="validate" id="ReporterId">Selecione um status</select>
                                            <label asp-for="ReporterId" id="ReporterIdLabel"></label>
                                            <span asp-validation-for="ReporterId" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select asp-for="AssigneeIds" asp-items="@Model.Assignees" class="validate" id="AssigneeIds">Selecione um status</select>
                                            <label asp-for="AssigneeIds" id="AssigneeIdsLabel"></label>
                                            <span asp-validation-for="AssigneeIds" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select asp-for="SelectedPriority" asp-items="@Model.Priorities" class="validate" id="SelectedPriority">Selecione uma prioridade</select>
                                            <label asp-for="SelectedPriority" id="SelectedPriorityLabel"></label>
                                            <span asp-validation-for="SelectedPriority" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="startdatefield" class="input-field col s12">
                                            <input asp-for="StartDate" type="date" class="validate" id="StartDate"/>
                                            <label asp-for="StartDate" id="StartDateLabel"></label>
                                            <span asp-validation-for="StartDate" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input asp-for="DueDate" type="date" class="validate" id="DueDate"/>
                                            <label asp-for="DueDate" id="DueDateLabel"></label>
                                            <span asp-validation-for="DueDate" class="red-text text-darken-4"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                                
                        <div class="buttons right">
                            <a class="waves-effect waves-light btn grey" asp-action="Index">Cancelar</a>
                            <button type="submit" class="waves-effect waves-light btn green darken-4">Salvar</button>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/select2/js/select2.full.js"></script>
    <script src="~/lib/materialize-select2/select2-materialize.js"></script>
    <script src="~/lib/select2/js/i18n/pt-BR.js"></script>
    <script src="~/js/Tasks/linkedtasks.common.js"></script>
}